html, body, #root {
  height: 100%;
  margin: 0;
}

.registration-form {
   display: flex;
   justify-content: right;
   flex-direction: column;
   /* background-image: url(https://ak.picdn.net/shutterstock/videos/22399126/thumb/1.jpg); */
   background-image: url(../../assets/watercolor.jpeg);
   padding: 30px;  
}

input[type=firstName],
input[type=lastName]{
  width: 80%;
  /* padding: 8px 12px; */
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box; 
  }

button:hover {
  opacity: 0.8;
}

.regis-password {
  margin-top: 2rem;
}

.loginText {
    cursor: pointer;
}

.loginText:hover {
text-decoration: underline;
}

.register-button{
  width: 220px;
  height: 50px;
  align-self: center;   
}

.mt-2{
  font-size: 30px;
  } 


  /* Tablet, Mobile Landscape */
/* @media (min-width: 481px) and (max-width: 767px) {
  
  .loginForm {
    padding-top: 35px;
    height: 100%;
  }
} */


/* Mobile */
/* @media (min-width: 320px) and (max-width: 480px) {
  
  .loginForm {
    padding-top: 35px;
    height: 100%;
  
  }
} */









