.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

 .registration-form{
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-image: url(https://ak.picdn.net/shutterstock/videos/22399126/thumb/1.jpg);
    height: 150vh;
   
    padding: 30px;
    margin-top: 0%;
    
}
.register-button{
    width: 220px;
    height: 50px;
    align-self: center;
    
}
input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    box-sizing: content-box;
    
    
  }
  input ,[type=password],[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    box-sizing: content-box;

  }


