.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

 .registration-form{
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: rgb(0, 217, 255);
    height: 80vh;
    padding: 30px;
    
}
.register-button{
    width: 120px;
    height: 40px;
    align-self: center;
}

.mt-2 {

    text-align: center;
}