
.create-journal {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card {
    background: #161616;
    border-radius: 2px;
    margin: 1rem;
    /* position: relative; */
    width: 335px;
    height: 325px;
    box-shadow: 8px 5px 5px rgb(174, 167, 167);
    text-align: left;
  }

  /* Body color and binder color */
  .card > .card-body,
  .card > .card-footer {
    /* background-image: url("../assets/large-leather.png"); */
    background-color: rgb(164, 140, 20) ;
    background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
    background-image: linear-gradient(to right,#161616 25px, #161616 25px, transparent 30px);  
  }
  .card-content {
    background-color: #fefefa;
    padding-top: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .25;
    width: 230px;
    border-radius: 5%;
    height: 150px;
    line-height: 1;;
    margin-left: 25px;
    border: 1px solid #000
  }
  
.card-footer {
    border-top: none;
    /* background-image: linear-gradient(to right,#161616 35px, #161616 35px, transparent 40px); */
    background-image: linear-gradient(to right,#343030 35px, #3c3b3b 35px, transparent 40px);
}

.fa, .fas {
  font-size: 18px;
  color: grey;
}

.fa:hover,
.fas:hover {
    color: rgb(127, 223, 127);
}

.fa-file-alt {
  margin-right: 12px;
}
.fa-edit {
    margin-right: 8px;
}

a:hover {
    text-decoration: none;
}





