/* font-family: 'Caveat', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Seaweed Script', cursive; */
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Lato:wght@400;700&display=swap');

.createtitle {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: #080808;
}

.createinput2.entrybody {
    color: #080808;
}

.createtitle::placeholder {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
  
}

.createinput.date,
.createinput2.entrybody {
    font-family: 'Caveat', cursive; 
    font-size: 1.75rem;
}

.createform {
    background: #fff9f6;
}



.createentry,
textarea {
   margin: 20px 15px;
    border: 3px solid #000;
    padding: 30px;


    
}

.form-group {
    margin-bottom: 0;
}

input.input-group,
input.form-control,
input.form-control:focus,
input.form-control-lg,
input.form-control-lg:focus,
textarea.form-control, 
textarea.form-control:focus {
    border: none;
    border-bottom: 1px solid lightgrey;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
  }

 .form-control.createinput {
     height: 75px;
     background-color: #fff9f6;
 }

 .form-control.createinput2 {
    background-color: #fff9f6;  
    border-bottom: none;
 }



