.card {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    width: 335px;
    height: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .card-body {
    height: 60%;
    overflow: hidden;
  }
  .card > .card-body > {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

.card-ul {
  list-style-type: none;
} 

.tooltip-text {
  width: 145px;
  position: absolute;
  display: none;
  background: ghostwhite;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px; 
  transition: opacity 1s ease-out;
}
.fa {
  font-size: 16px;
  transition: .5s ease-in-out;
}
.fas-fa-book:hover + .tooltip-text, .fas-fa-cog:hover + .tooltip-text, .fa-fa-pencil:hover + .tooltip-text {
  display: block;
  color: black;
  animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}  
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}