

.card-logo {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 600px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
  
  }

  .jot {

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
     opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
     animation-name: zoomIn;
  }    


  /* -webkit-transform:rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg); */
  