.login-card {
    min-height: 95vh;
    text-align: right;

}

.registerMessage {
    margin-top: 10vh;
}
.form-group {
    padding-top: 40px;


}

.loginForm{
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: rgb(0, 217, 255);
    height: 50vh;
    padding: 30px;
    
}