
html, body, #root {
  height: 100%;
  margin: 0px auto;
}

.loginForm {
  display: flex;
  justify-content: right;
  flex-direction: column;
  background-image: url(../../assets/watercolor.jpeg);
  padding: 30px;
}

  input[type=email],
  input[type=password] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box; 
  }
  
  button:hover {
    opacity: 0.8;
  }
  .loginText:hover {
    text-decoration: underline;
    }

/* Tablet, Mobile Landscape */
@media (min-width: 481px) and (max-width: 767px) {
  
  .loginForm {
    padding-top: 35px;
    height: 100%;
  }
}


/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  
  .loginForm {
    padding-top: 35px;
    height: 100%;
  
  }
}