.landing-bg {
    width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top:0;
     left: 0;
     z-index: -1; 
     overflow: hidden;
 
 
 
   -webkit-transform:rotate(-0deg);
   -moz-transform: rotate(-0deg);
   -ms-transform: rotate(-0deg);
   -o-transform: rotate(-0deg);
   transform: rotate(-0deg);
   }

